body{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.navbar{
    height: 100px;
    width: inherit;
    background-color:#262626;
}

.grids{
    margin: 2px;
    flex-grow: 1;
    height: 100%;
    width: inherit;
}

.board-row:after {
    clear: both;
    width: fit-content;
    content: "";
    display: table;
}

.square {
    border: 0.8px solid rgb(170, 170, 170);
    float: left;
    background-size: 0%;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    color: blue;
    text-align: center;
    transition: 3s ease;
}

.square:focus {
    outline: none;
}
  
.square:hover {
    background-color: coral;
    transition: 0.8s;
}

.bubble-effect{
    background-size: 200%;
}

.popout-effect{
    background-size: 100%;
}
.noborder {
    border: none;
}

.lightborder {
    border-color: rgb(226, 226, 226);
}
