<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RouteFinder</title>
    <link href="../style/main.css" type="text/css" rel="stylesheet">
</head>
<body>
    <!-- <p style="background-color: black; height: 100px; color: white;">helloo</p> -->
    <div class="navbar">
        <!-- navigation bar -->
        <div class=navbar-top>
            <div class="logo" style="color: white;"> 
                <img src="../files/imgs/logo1.svg"> 
                <div style="font-size: 30px;">The RouteFinder</div>
            </div>
            <p id="info">-</p>

        </div>
        <div class="options_div">
            <ul>
                <li><select class="algorithms" id="algorithms">
                    <option value="bfs">Breadth first search</option>
                    <option value="dijkstra">Dijkstra algorithm</option>
                    <option value="astar">A* algorithm</option>
                  </select>
                </li>
                <li><button id="startnode" class="button1">Start node</button></li>
                <li><button id="run" class="button1" style="font-weight: bold;">RUN</button></li>
                <li><button id="endnode" class="button1">End node</button></li>
            </ul>
        </div>
    </div>
    <div class="grids" id="griddiv"></div>
    <footer style="padding-left: 10px;">made by <a href="https://www.github.com/sudo-chawhan/RouteFinder">Sudhanshu Chawhan</a>  </footer>

</body>
<script src="../algos/priorityQueue.js" type="text/javascript"></script>
<script src="../algos/bfs.js" type="text/javascript"></script>
<script src="../algos/dijkstra.js" type="text/javascript"></script>
<script src="../algos/astar.js" type="text/javascript"></script>
<script src="../src/global.js" type="text/javascript"></script>
<script src="../src/display.js" type="text/javascript"></script>
<script src="../src/logic.js" type="text/javascript"></script>
<script src="../src/main.js" type="text/javascript"></script>
</html>